

section{
  background-color: gray;
  display: inline-block;
  padding: 5px;
  margin: 20px;
}

img{
  margin: 15px;
  padding: 20px;
  height: 150px;
  width: 200px;
}

h1{
  color: aqua;
  text-align: center;
  text-decoration: underline black;
}

h2{
  border: 2px black solid;
  background-color: bisque;
  display:inline-block;
}

body{
  background-color:honeydew;
}



